@page "/"

<PageTitle>Home</PageTitle>
<AuthorizeView>
    <Authorized>
        <a href="LogOut"><button class="nav_butt">Log out</button></a>
    </Authorized>
    <NotAuthorized>
        <a href="Access/{@toggle}"><button class="nav_butt">Sign Up</button></a>
        <a href="Access/{@toggle}"><button class="nav_butt" @onclick="@ToggleLogin">Log in</button></a>
    </NotAuthorized>
</AuthorizeView>
<div class="welcome-tag">
    <img src="Images/rembrace_text_white.png" id="logo">
<!--<RembraceLogIn.Client.Pages.LoginDisplay></RembraceLogIn.Client.Pages.LoginDisplay>-->
<AuthorizeView>
    <Authorized>
        <h1>Welcome, @context.User.Identity!.Name</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Technical Task</h1>
    </NotAuthorized>
</AuthorizeView>
</div>

<div class="home-content">
    <AuthorizeView>
        <Authorized>
            <h2>You are now logged in. Your credentials are stored in the server.</h2>
        </Authorized>
        <NotAuthorized>
            <h2>Please log in or sign up.</h2>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    public bool on { get; set; }
    public string toggle;
    void ToggleLogin() //since the Signup/Login is a combined form, this code changes the state of the form to match which link was clicked.
    {
        if (on)
        {
            toggle = "unchecked";
        }
        else
        {
            toggle = "defaultchecked";
        }
        on = !on;
    }
}



