<AuthorizeView>
    <Authorized>
        <a href="LogOut"><button>Log out</button></a>
    </Authorized>
    <NotAuthorized>
        <a href="Register"><button>Register</button></a>
        <a href="Login"><button>Log in</button></a>
    </NotAuthorized>
</AuthorizeView>

